.input {
  width: 530px;

  border: none;
  border-radius: 20px;
  padding: 20px 30px;
  margin-bottom: 20px;

  background-color:  #ECF1F7;
  color: #9D9D9D;
  font-family: 'TinkoffSans';
  font-weight: 400;
  font-size: 24px;
}


@media screen and (max-width: 700px) {
  .input {
    width: 100%;

    border-radius: 10px;
    padding: max(10px, 3vw) max(15px, 5vw);
    margin-bottom: 10px;

    font-size: max(18px, 3.5vw);
  }
}