.nav {
  display: flex;
  justify-content: space-between;

  width: 630px;
}

.li {
  color: #336FEE;
  font-size: 22px;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: #fff;

  user-select: none;
  cursor: pointer;
  text-decoration: none;

  transition: background-color 0.2s linear;
}

.li:hover {
  background-color: #E9EAEC;
}

.liActive {
  color: #336FEE;
  font-size: 22px;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: #E9EAEC;
  text-decoration: none;

  user-select: none;
  cursor: pointer;
}