.div {
  width: 100%;
}

.h2 {
  width: 100%;

  font-weight: 500;
  font-size: 40px;

  text-align: center;
  margin-bottom: 30px;

  user-select: none;
}

/* .divTable {
  max-height: 450px;
  overflow-y: auto;
  position: relative;
  z-index: 0;
} */

.table {
  width: 100%;

  font-size: 22px;
  user-select: none;
}

.tr {
  display: flex;
  

  margin-bottom: 20px;
}
 
.td {
  line-height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-right: 30px;
}

.td:nth-last-child(1) {
  margin-right: 0;
}

@media screen and (max-width: 1350px) {
  .div {
    width: max(328px, 40vw);
  }
  
  .h2 {
    font-size: 3vw;
  }
  
  .table {
    font-size: 1.5vw;
  }
  
  .tr {
    margin-bottom: min(30px, 2vw);
  }
   
  /* .table td {
    width: 5vw;
    height: 30px;
  }
  
  .table td:nth-child(2){
    width: 12vw;
  } */

}

@media screen and (max-width: 700px) {
  .div {
    width: 100%;
    margin-top: 20px;
  }
  
  .h2 {
    font-size: 26px;
    width: 100%;

    margin-bottom: 20px;
  }
  
  .table {
    font-size: 16px;
  }
  
  .tr {
    justify-content: space-between;
    margin-bottom: 10px;
  }
   
  /* .table td {
    width: 48px;
    height: 20px;
  }
  
  .table td:nth-child(2){
    width: 160px;
  }

  .table td:nth-last-child(1),
  .table td:nth-child(1) {
    width: 20px;
  } */

  .td {
    line-height: 1em;
  
    margin-right: 8px;
  }
  
  .td:nth-last-child(1) {
    margin-right: 0;
  }
}