.start {
  position: relative;
  min-height: 100vh;
}

.logo {
  position: absolute;
  width: 100px;
  top: 30px;
  left: 100px;
}

.title {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 100px;

  font-size: 69px;
  font-weight: 700;
}



