@font-face {
  font-family: "TinkoffSans";
  src: local("TinkoffSans Regular"),
    local("TinkoffSans-Regular"),
    url("/src/fonts/TinkoffSans_Regular.woff2") format("woff2"),
    url("/src/fonts/TinkoffSans_Medium.woff") format("woff"); 
    font-weight: normal;
}

@font-face {
  font-family: "TinkoffSans";
  src: local("TinkoffSans Bold"),
    local("TinkoffSans-Bold"),
    url("/src/fonts/TinkoffSans_Bold.woff2") format("woff2"),
    url("/src/fonts/TinkoffSans_Bold.woff") format("woff"); 
    font-weight: 700;
}

@font-face {
  font-family: "TinkoffSans";
  src: local("TinkoffSans Medium"),
    local("TinkoffSans-Medium"),
    url("/src/fonts/TinkoffSans_Medium.woff2") format("woff2"),
    url("/src/fonts/TinkoffSans_Medium.woff") format("woff"); 
    font-weight: 500;
}

.app {
  font-family: 'TinkoffSans', sans-serif;
  background-color: #F6F7F8;
}